@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#navbar .logo img {
    width: 200px;
    padding-left: 30%;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background: #3D4F77;
    transition: width 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.menu-container:hover {
    width: 200px;
}

.menu {
    padding: 0;
}

.menu-item {
    padding: 10px 20px;
}

.menu-item a {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.menu-item a:hover {
    color: #3D4F77;
}

.menu-item a i {
    margin-right: 10px;
}

.menu .text {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.menu-container:hover .menu .text {
    display: inline;
    opacity: 1;
}

.intro {
    background: url(/assets/images/portrait-engineers-work-hours-job-site.jpg) no-repeat center center;
    background-size: cover;
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    color: white;
    font-size: 40px;
    margin-top: 45vh;
}

#achiv {
    background: #3D4F77;
    color: white;
    padding: 40px 0;
}

#achiv .heading h2 {
    font-size: 30px;
    font-weight: normal;
}

.details p {
    font-size: 18px;
}

.hading h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

.row {
    margin-bottom: 40px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#partnership {
    background: #3D4F77;
    color: white;
}
#experiences-section img {
    width: 21rem;
    height:28vh;
    object-fit: cover;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}


.Information {
    background: whitesmoke;
}

footer {
    background: black;
    color: white;
    padding: 40px 0;
}

footer h2 {
    font-weight: 500;
}

footer hr {
    background: white;
}
.footer_logo{
    width: 200px;
}



